body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1a1a1a;
    padding: 20px;
  }
  
  header h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  header p {
    font-size: 1.2em;
    margin: 10px 0 0;
  }
  
  main {
    padding: 20px;
  }
  
  #image-container {
    margin: 20px 0;
  }
  
  #image-container img {
    max-width: 80%;
    border: 3px solid #444;
    border-radius: 10px;
  }
  
  #map-container {
    margin: 20px auto;
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border: 2px solid #444;
  }
  
  #lunar-map {
    width: 100%;
    cursor: crosshair;
  }

  .marker {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
  }
  
  .marker.user {
    background-color: red;
    border: 2px solid darkred;
  }
  
  .marker.actual {
    background-color: green;
    border: 2px solid darkgreen;
  }
  


  
  button {
    background-color: #0077ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
  }
  
  button:hover {
    background-color: #005bb5;
  }
  
  footer {
    background-color: #1a1a1a;
    padding: 10px;
    margin-top: 20px;
  }
  
  footer p {
    margin: 0;
    font-size: 0.9em;
  }
  